<h1> React Calendar </h1>

<h2> Appointments </h2>

<h3>Make a new appointment</h3>

<div data="<%= @appointments.to_json %>" id="appointments_data"></div>
<%= javascript_pack_tag 'appointments' %>
<%= stylesheet_pack_tag 'appointments' %>