<h1> React Caelndar </h1>

<h2> Appointments </h2>

<h3>Make a new appointment</h3>

<div id="appointments_data" data="<%= @appointments.to_json %>"
    javascript_pack_tag = 'appointments'
    stylesheet_pack_tag = 'appointments'>
</div>